body{
    background-size: cover;
    background-repeat:no-repeat; 
    background-image: url(./images/code.jpg); 
}
 h1{
    position:relative;
    top:5px;
    left:15px;
    text-align:left;
    border: solid;
    border-color: grey;
    border-radius:10px;
    padding-left:20px;
    width:260px;
    background-color:#1F3833;
    color:white;
    margin-top:25px;
    vertical-align: middle;
}      
form{
    padding-top:10px;
}
.linkedLogo{
    height : 40px;
    width: 30px;
    position: relative;
    left: 10px;
    bottom:10px;
    
}
.gitLogo{
    height:60px;
    width:95px;
    position: relative;
    bottom:20px;
}
#headshot{
    padding-top:15px;
}

.container{
    color: white;
    width:960px;
    margin-left:auto;
    margin-right:auto;
}
.nav{
     position:relative;
     top:50px;
     margin-bottom: 50px;
     color:black;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:white;
}
.copyright{
    color:white;
}
.text-center{
    position:fixed;    
    bottom:0;
}
.indexText{
    background: 	rgba(128,128,128,.8);
}

.label{
    background-color:#1F3833;
    color:white;
    position:relative;
    bottom:30px;
}
.portfolioHeader{
    text-align: center;
}
.description{
    color:white;
}
.name{
    text-align: center;
}
.modal-header{
    background-color:#1F3833;
    color:white;
}
.modal-footer{
    background-color:#1F3833;
    color:white;
}
.modal-button{
    background-color: white;
    color:black;
}
.portInfo{
    margin-bottom:10px;
}

.portImage{
    height: 250px;
    width:300px; 
}

.gitLabel{
    color:black;
}
.gitLabel:hover{
    color:white;
}

@media only screen and (max-width: 765px){
    .nav-item{
        position:relative;
        bottom: 50px;
    }
    .label{
        width:250px;
    }

}