body{
    background-size: cover;
    background-repeat:no-repeat; 
    background-image: url(./images/code.jpg); 
}
 h1{
    position:relative;
    top:0px;
    left:15px;
    text-align:left;
    border: solid;
    border-color: grey;
    border-radius:10px;
    padding-left:20px;
    width:260px;
    background-color:#1F3833;
    color:white;
    margin-top:25px;
    vertical-align: middle;
}      

 .container{
    background-color:white;
    width:960px;
    margin-left:auto;
    margin-right:auto;
 }
 .nav{
     position:relative;
     top:50px;
     color:black;
 }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:white;
}
.copyright{
    color:white;
}
.text-center{
    position:fixed;    
    bottom:0;
}

.label{
    background-color:#1F3833;
    color:white;
    position:relative;
    bottom:30px;
}
.portfolioHeader{
    text-align: center;
}
.description{
    color:white;
}
.name{
    text-align: center;
}

@media only screen and (max-width: 765px){
    .nav-item{
        position:relative;
        bottom: 50px;
    }
    .label{
        width:250px;
    }

}